<strong>Olá {{ organizer }}!</strong>
<p>Houve uma nova inscrição no Meetup: </p>
<p> <strong>Título: </strong> {{ meetup }} </p>
<p> <strong>Data: </strong> {{ date }} </p>
<hr>
Dados do inscrito:
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
